@font-face {
  font-family: cal;
  src: url("LobsterTwo-Regular.ttf");
}

@font-face {
  font-family: cal-2;
  src: url("LobsterTwo-Regular.ttf");
}

@font-face {
  font-family: montserrat;
  src: url('Montserrat/Montserrat-Light.ttf');
}

.new-intro{
  background-image: url("images/1.jpg");
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: 2147483646;
  left: 0vw;
}

@media screen and ( max-width:1100px ){
  .w40 {display: none;}
  .w40 img {display: none;}
  .w60 {
    width: 100vw;
    text-align: center;
  }
  .dis{
    display: block;
    width: auto;
  }
  .w60 h1{
    display: inline-block;
    text-align: center;
  }
}

.prasinada-gradient{
  position: relative;
  top: 10vw;
  left: 10.8vw;
  width: 500px;
  font-size: 74px;
  font-weight: 900;
  opacity: 0;
  animation: intro 1s linear 0s 1;
  animation-fill-mode: forwards;
  background: -webkit-linear-gradient(right, rgb(34, 109, 255), rgb(255, 0, 211));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes intro{
  100%{
    opacity: 90%;
    transition: 2s;
  }
}
h2{
  text-decoration: underline;
}
.impossible{
  position: relative;
  top: 10vw;
  left: -200vw;
  font-size: 22px;
  font-weight: 800;
  animation: impossible 1s linear 0s 1;
  animation-fill-mode: forwards;
}

@keyframes impossible{
  100%{left: 11vw;
  }
}

.bottom-right{
  position: fixed;
  bottom: 5vw;
  right: 6vw;
  border-radius: 50%;
  opacity: 60%;
  background: rgba(255, 255, 255, 0.5);
}

.bottom-right:hover{
  background: rgba(256, 256, 256, 0.6);
  cursor: pointer;
}

.bottom-right:active{
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

#new-intro:target{
  animation: slide 0.6s linear 0s 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes slide{
  30%{
    left: 90vw;
  }
  100%{
    left: 100vw;
  }
}

.centered {
  float: center;
}

html {
  background-color: black;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  background-color: black;
  width: 100%;
}

.hr {
  height: 1px;
  width: 98%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #424242;
  float: center;
}

.mobile-h{
  text-decoration: none;
  display: block;
  color: black;
  transition: 0.5s;
  padding: 10px;
  margin: 5px;
  transition: height 0.5s;
  font-family: 'Montserrat', montserrat;
  font-size: 18px;
  width: inherit;
  border-radius: 7px;
  min-width: 160px;
}

.mobile-h:hover{
  background: #f1f1f1;
  text-decoration: none;
  color: black;
}

.mobile-h:active{text-decoration: none;}

.mobile-menu{
  background: white;
  display: none;
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  transition: 0.2s;
  overflow: scroll;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation-fill-mode: forwards;
}

@keyframes open{
  100%{height: 92vh;}
}

@keyframes close{
  0%{height: 92vh;}
  100%{height: 0px;}
}

.mobile-working{
  background-color: #f9f9f9;
  min-width: 160px;
  z-index:1;
}

.mobile-working a {
  color: black;
  font-family: 'Montserrat', montserrat;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.mobile-working a:hover {background-color: #f1f1f1}

.inline{
  display: inline-block;
}

.h {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  padding: 10px;
  margin: 0px;
  transition: 0.5s;
  font-family: 'Montserrat', montserrat;
  display: inline-block;
  border-radius: 30px;
  font-size: 18px;
}

.h:hover{
  background: white;
  text-decoration: none;
  color: black;
}

.h:active{text-decoration: none;}

.dropdown-internal {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', montserrat
}

.internal-working {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index:1;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.internal-working a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.internal-working a:hover {background-color: #f1f1f1}

.dropdown-internal:hover .internal-working {
  display: block;
  transition: 0.8s;
}

.dropdown-internal:hover .intcaret{
  transform: rotate(180deg); 
  transition: 0.8s;
  border-top: 4px solid black;
}

.dropdown-external:hover .extcaret{
  transform: rotate(180deg); 
  transition: 0.8s;
  border-top: 4px solid black;
}

.dropdown-internal:hover .h {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  transition: 0.5s;
  cursor: pointer;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.dropdown-external {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', montserrat;
  margin-right: 30px;
  margin-left: 15px;
}

.external-working {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index:1;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.external-working a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.external-working a:hover {background-color: #f1f1f1}

.dropdown-external:hover .external-working {
  display: block;
}

.dropdown-external:hover .h {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  transition: 0.8s;
  cursor: pointer;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
@media screen and (min-width: 768px) {
  .hidden-md-up{
    display: none;
  }
}

nav {
  width: 100vw;
  max-width: 100vw;
  min-width: 0px;
  position: fixed;
  background-image: linear-gradient(to right, blue, skyblue);
  margin: 0px;
  right: 0;
  left: auto;
}

.b {
  font-size: 2vw;
  color: white;
  font-weight: 500;
  float: left;
  transition: 0.5s;
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  border-radius: 20px;
  background: rgb(217, 150, 56);
  padding: 10px;
}

.b:hover {
  text-decoration: none;
  color: rgb(72, 255, 79);
  bottom: 2vw;
  transition: 0.5s;
}

.icon-bar {
  background: white;
  z-index: 2;
}

button {
  margin: 5px;
}

.dis{
  display: none;
}

#main {
  background-image: url("images/1.jpg");
  background-repeat: no-repeat;
  padding-top: 200px;
  color: rgb(255, 255, 255);
  height: 800px;
  margin-top: 0px;
}

#main h1 {
  font-size: 10vw;
  font-family: cal-2;
  font-weight: 700;
  letter-spacing: 1vw;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(200, 200, 200);
  opacity: 0.8;
}

#main h4 {
  font-size: 2vw;
  font-family: cal;
  letter-spacing: 4px;
  color: rgb(84, 184, 79);
}

#main2 {
  background-image: url("images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  color: rgb(255, 255, 255);
  height: 800px;
  margin-top: 0px;
}

#main2 h1 {
  font-size: 10vw;
  font-family: cal-2;
  font-weight: 700;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

#main3 {
  background-image: url("images/7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  color: rgb(255, 255, 255);
  height: 800px;
  margin-top: 0px;
}

#main3 h1 {
  font-size: 10vw;
  font-family: cal-2;
  font-weight: 700;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}


.bgblack table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: cal-2;
  background-color: black;
  color: white;
  margin-top: 0px;
  max-width: 100vw;
  table-layout: fixed;
}

.bgblack {
  margin-top: 0px;
  background-color: black;
}

.bgblack td {
  font-size: 25px;
  text-align: justify;
}

.bgblack h1 {
  font-size: 40px;
  font-family: cal;
  word-spacing: 3px;
  text-align: left;
}

.bgblack img {
  width: 100%;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
}


.bgwhite {
  margin-top: 0px;
  background-color: white;
}

.bgwhite h1 {
  font-size: 40px;
  margin-left: 0px;
  font-family: cal;
  text-align: left;
  word-spacing: 3px;
}

.bgwhite table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: cal-2;
  max-width: 100vw;
}

.bgwhite td {
  font-size: 25px;
  text-align: justify;
  color: black;
  font-weight: 500;
}

.bgwhite img {
  width: 100%;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
}


#end {
  background-color: #121212;
  color: white;
  margin: auto;
  padding: auto;
}

#end h1 {
  font-size: 50px;
  margin-left: 40px;
  font-family: cal;
}

#end table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: 'Montserrat', montserrat;
  font-weight: 100;
  font-size: 50%;
  max-width: 100vw;
}

#end td {
  font-size: 25px;
  text-align: center;
}

#end h1 {
  font-size: 40px;
  margin-left: 0px;
  font-family: cal;
  text-align: left;
  word-spacing: 2px;
}

#end img {
  width: 50%;
  height: width;
  transition: 0.2s;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
#end img:hover{
  width: 60%;
  height: width;
  transition: 0.2s;
  cursor: pointer;
}

#end p {
  text-align: justify;
}

#s2{
  max-width: 100%;
  width: 100vw;
}

.montserrat {
  font-family: montserrat;
}

.w60{
  width: 60%;
}

.w40{
  width: 40%;
}

.img-responsive{display: inherit;}
