@font-face{
	font-family: hello;
	src: url("LobsterTwo-Regular.ttf")
}

@font-face{
	font-family: bye;
	src:url("Pacifico.ttf");
}

@font-face{
	font-family: hi;
	src:url("AlexBrush-Regular.ttf");
}

@font-face{
	font-family: hallo;
	src:url("Elianto-Regular.ttf");
}

h1{
	font-family: hello;
	color: white;
	text-align: center;
	font-size: 34px;
	margin-bottom: -20px;
}

hr{
	width: 98%;
	align-self: center;
	color: rgb(240,240,240);
	border: 0.5px solid grey;
}

body{
	background-color: rgb(50,50,50);
}

table{
	font-family: hallo;
}

.logo{
	border-radius: 50%;
	margin-left: 2.5%;
	width: 130px;
	height: 130px;
	transition: 0.5s;
}

.logo:hover{
	transform: scale(1.2);
	transition: 0.5s;
	margin-left: 3%;
	cursor: pointer;
}

.w10{
	width: 10%;
	padding-bottom: 20px;
	padding-left: 20px;
}

.w40{
	width: 40%;
	padding-bottom: 20px;
	padding-left: 40px; 
	margin-top: 0px;
}

.w40 h3{
	color: white;
	text-align: left;
	font-size: 24px;
	margin-bottom: -10px;
	font-weight: 300;
}

.w40 li{
	color: white;
	font-size: 16px;
	margin-left: -32px; 
}
